.uploadButton {
  background-color: var(--accent-9);
  font-weight: var(--font-weight-medium);
  padding-left: var(--space-5);
  padding-right: var(--space-5);
  height: var(--base-button-height);
  gap: var(--space-3);
  font-size: var(--font-size-4);
  line-height: var(--line-height-4);
  letter-spacing: var(--letter-spacing-4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: top;
  font-family: var(--default-font-family);
  font-style: normal;
  text-align: center;
  margin-top: var(--space-4);
  color: var(--accent-contrast);
  --base-button-classic-active-padding-top: 2px;
  --base-button-height: var(--space-8);
  border-radius: max(var(--radius-4), var(--radius-full));
  cursor: pointer;

  &:hover {
    background-color: var(--accent-8);
  }
}
